html, body {
  position: absolute;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #f8baf5;
    background-image: url("./gif/galaxybckgr.gif");
}

.saturs {
    position: absolute;
    width: 100%;
    height: 100%;
 
}

.mansvards {
    position: absolute;
    width: 70%;
    height: 25%;
    top: 15%;
    left: 15%;
    font-size: 4vw;
    text-align: center;
}


.gifcontainer {
    position: absolute;
    width: 80%;
    height: 20%;
    top: 55%;
    left: 10%;
}

.gifcontainer2 {
    position: absolute;
    width: 80%;
    height: 20%;
    top: 85%;
    left: 10%;
}

.gifcontainer3 {
    position: absolute;
    width: 80%;
    height: 10%;
    top: 105%;
    left: 10%;
}

.gif1 {

    display: inline-block;
    width: 30%;
    height: 100%;
    font-size: 10vw;
    left: 0%;
}

.gif2 {
    display: inline-block;
    width: 30%;
    height: 100%;
    font-size: 10vw;
    left: 40%;
}
.gif3 {
    display: inline-block;
    width: 30%;
    height: 100%;
    font-size: 10vw;
    right: 0%;
}



a {
text-decoration: none;

}

img {
    height: 100%;
    background-color: transparent;
}




::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000000;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #f899f2;
}

::-webkit-scrollbar-thumb
{
    background-color: #f899f2;
    border: 2px solid #000000;
}